.header {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--foreground-color);
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0;
}
