#root {
  max-width: 1280px;
  width: 100%;
}

main {
    padding: 1em;
}

/* theme selector */

.theme-section {
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

.theme-section p {
    margin-bottom: 1em;
}

.theme-section dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
    margin-bottom: 1em;
}

.theme-section dt {
    font-weight: bold;
}

.theme-section button {
    margin-top: 0.5em;
}
