/* get rid of defaults for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    padding: 0;
}

/* set the foreground and background color variables */
:root {
    --foreground-color: whitesmoke;
    --background-color: #111;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
    color: var(--foreground-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    min-width: 420px;
    min-height: 100vh;
}

header nav h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--foreground-color);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-color: #111;
        --background-color: whitesmoke;
    }
}
