/* get rid of defaults for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    background-color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    padding: 0;
}

/* set the foreground and background color variables */
@property --foreground-color {
    syntax: '<color>';
    initial-value: chartreuse;
    inherits: true;
}
@property --background-color {
    syntax: '<color>';
    initial-value: #111;
    inherits: true;
}

:root {
    transition: --foreground-color 0.5s ease,
                --background-color 0.5s ease;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
    color: var(--foreground-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-width: 420px;
    min-height: 100vh;
}

#root {
    padding: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "header header"
        "nav    main  ";
}

#root header {
    grid-area: header;
}

#root nav {
    grid-area: nav;
}

#root main {
    grid-area: main
}

button {
    border-radius: 8px;
    border: 1px solid;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

button:focus,
button:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 4px;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-color: #111;
        --background-color: whitesmoke;
    }
}
